* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

h1 {
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 01-navbar */
nav {
  padding: 25px;
  text-align: right;
  background-color: var(--black);
}

a {
  padding: 25px;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
}

a:hover {
  background-color: var(--violetred);
}

/* Code for exercise 02-cards */
.card {
  width: 400px;
  padding: 25px;
  border: 1px solid var(--black);
  float: left;
  margin: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  font-size: inherit;
  border-style: none;
}

button:hover {
  background-color: var(--violetred);
}

img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Code for exercise 03-table */

table {
  margin-left: auto;
  margin-right: auto;
}

tr:hover {
  background-color: var(--orange);
}

th {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  width: 20%;
}

td {
  border: 1px solid var(--black);
  padding: 20px;
}

td:first-child {
  background-color: var(--violetred);
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

/* Code for exercise 04-form */
